/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

@import 'font-awesome/scss/font-awesome';

body{

	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	font-family: 'Lato', Helvetica, arial, sans-serif;

}


.dropzone-img{

	width: 200px;
	background-color: none;
		&:hover {
			opacity: .7;
		}

}

.login-wrapper, .form-wrapper{

	margin: auto !important;
}

.login-wrapper {
	width: 100%;
}

.login-signup-wrapper{
	text-align: center;
}

.login-submit-btn {
	padding-top: 25px;
}

.select-btn {
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  border: 2px inset;
  box-shadow: none;
  width: 267px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  font-size: 16px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: -2%;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.dropzone {
  position: relative;
  left: 36%;
  margin-top: 25px;
  width: 27%;
  margin-bottom: 25px;
}

.drop-span {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.6);
}


.vote-div { 
	width: 800px !important;
	margin: auto !important;
	height: 50%;
	padding: 0;
}

div.vote-paper {
	padding: 0;
	height: 500px;
}

.vote-div-candidates {
display: flex;
align-items: center; 
padding-top: 105px;
justify-content: space-around;
}

.blue-header {
	margin: auto;
	height: 90px;
	background-color: #00bcd4;
	padding: 0;
}

.fa-sign-out{
  padding-left: 18px;
  font-size: 20px;
  padding-top: 8px;
  display: inline-block;
}

.log-out-btn {
  position: relative;
  left: 21%;
  top: -72px;
}

.vote-submit-btn {
  margin: auto !important;
  padding-top: 50px;
  text-align: center;
  }


.dashboard-info{

	display: flex;
	font-size: 2em;
	justify-content: space-around;	
}


.bernie-data{

	color: #5B90BF;
	align-self: flex-end;

}


.trump-data{

	color: #F7464A;
	align-self: flex-end;

}

.countdown{
  text-align: center;
  margin: 0;
  padding-top: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.dashboard-title{

	font-size: 2.5em;
	text-align: center;
	margin: 20px;
	margin-top: 100px;
}

.radio-inputs {
	font-family: 'Roboto', sans-serif;
}




.districts{

	margin-top: 150px;

}


.district{

	border-bottom: 1px solid grey;
	padding: 20px;
	margin: 30px 0px;
	font-size: 1.5em;
	.district-title{

		font-size: 1.8em;
		color: grey;

	}
}

